<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Enter your description here so that you can take advantage of search engine optimization." />
<meta name="keywords" content="keywords, are, always, good, to have, and use, so that, you are, seen in the, search engines, and people, will come, to your, web site, then buy, what you, are selling, or saying" />
<meta name="author" content="The CSS Tinderbox - http://www.csstinderbox.com" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<title>the css tinderbox: fluid 3-column layout (basic)</title>
</head>
<body>
<div id="header">
<h1>header</h1>
<h3>fluid three-column layout (basic)</h3>
</div><!--//end #header//-->

<div id="leftColumn"> 
  <h2>leftColumn</h2>
  <ul>
  <li><a href="#" title="Home">Home</a></li>
  <li><a href="#" title="About">About</a></li>
  <li><a href="#" title="Gallery">Gallery</a></li>
  <li><a href="#" title="Contact">Contact</a></li>
  </ul>
  <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari 
    levat arte fessos corporis artus, si Palatinas videt aequos aras remque Romanam 
    Latiumque felix alterum in lustrum meliusque semper prorogat aevom, quaeque 
    Aventinum tenet Algidumque, quindecim Diana preces virorum curat et votis 
    puerorum amicas adplicat auris.</p>
</div><!--//end #leftColumn//-->

<div id="centerColumn">
<h2>centerColumn</h2>
<p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari 
    levat arte fessos corporis artus, si Palatinas videt aequos aras remque Romanam 
    Latiumque felix alterum in lustrum meliusque semper prorogat aevom, quaeque 
    Aventinum tenet Algidumque, quindecim Diana preces virorum curat et votis 
    puerorum amicas adplicat auris.</p>

<h2>Header 2</h2>

<p><a href="#" title="link title">Link Item</a></p>

<ul>
<li>List Item</li>
<li>List Item</li>
<li>List Item
	<ul>
	<li>List Item</li>
	<li>List Item</li>
	</ul></li>
</ul>

<blockquote><p><strong>blockquote</strong><br />
Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus.</p></blockquote>
</div><!--//end #centerColumn//-->

<div id="rightColumn"> 
  <h2>rightColumn</h2>
  <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari 
    levat arte fessos corporis artus, si Palatinas videt aequos aras remque Romanam 
    Latiumque felix alterum in lustrum meliusque semper prorogat aevom, quaeque 
    Aventinum tenet Algidumque, quindecim Diana preces virorum curat et votis 
    puerorum amicas adplicat auris.</p>
	<div id="tags">
	<p><a href="http://validator.w3.org/" title="W3C HTML Validation">XHTML</a></p>
	<p><a href="http://jigsaw.w3.org/css-validator/validator-uri.html" title="W3C CSS Validation">CSS</a></p>
	<p><a href="http://www.w3.org/TR/WCAG10/" title="Web Content Accessibility Guidelines">WCAG</a></p>
	<p><a href="http://www.csstinderbox.com">The CSS Tinderbox</a></p>
	</div><!--//end #tags//-->
  
	
</div><!--//end #rightColumn//-->
</body>
</html>